* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  min-height: 50vh;
  width: 80%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  padding: 2rem 5rem;
  z-index: 2;
  -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  color: #426696;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
}

h3 {
  color: #2e4563;
  font-size: 1rem;
  opacity: 0.8;
}

span {
  color: #172231;
  font-size: 1.5rem;
  padding: 0.3rem 0.5rem;
}

input {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.7);
  color: #777;
}

select {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.4rem;
  background-color: rgba(255, 255, 255, 0.7);
  color: #777;
}
